.price-range-block {
    margin: 60px;
}

.sliderText {
    width: 40%;
    margin-bottom: 30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight: bold;
}

.ui-slider-horizontal {
    height: .6em;
}

.ui-slider-horizontal {
    width: 100%;
    margin-top: 20px;
}

.ui-widget-header {
    background: #cf9167;
    
}

.price-range-search {
    width: 20%;
    margin-top: 20px;
    background-color: #f2f2f2;
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
    float: left;
    margin-left: 60%;
     

}

.price-range-field {
    width: 40%;
    margin: 30px 0px;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    color: black;
    font-family: myFont;
    font: normal 14px Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 26px;
    padding: 5px;
}

.search-results-block {
    position: relative;
    display: block;
    clear: both;
   
}